.header {
  background-color: rgba(33, 33, 33, 0.96);

  .row:first-child {
    padding: 20px 5px;
  }

  ul {
    list-style: none;
  }

  .avatar {
    img {
      display: inline-block;
      border-radius: 50%;
      border: 2px solid white;
      width: 100px;
      margin-right: 20px;
      vertical-align: top;
    }
    .avatar-text {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      h2, h3 {
        margin-top: 10px;
        color: white;
      }
    }
  }

  .avatarDetails {
    color: #FFFFFF;
    font-size: 26px;
    .title {
      font-size: larger;
    }
    ul {
      white-space: nowrap;
      padding-left: 50px;
      li {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .avatarDetailsIcon {
      background-size: 100%, 100%;
      height: 50px;
      width: 50px;
      display: inline-block;
    }
    .avatarDetailsSkills {
      background-image: url('../img/sql.png');
    }
    .avatarDetailsTargets {
      background-image: url('../img/sql.png');
    }
    .avatarMedals {
      padding-left: 40px;
      span img {
        height: 100px;
      }
    }
  }

  .subHeader {
    background-color: rgba(33, 33, 33, 1);
    height: 30px;
    opacity: 0.95;
    overflow: hidden;
    position: absolute;
    transition: height 0.5s ease 0s;
    width: 100%;
    z-index: 5;
    padding-top: 25px;

    > div {
      transition: transform 0.5s ease;
      transform: translateY(300px);
      border-right: 1px solid #ffffff;
      height: 90%;
      padding: 0 80px 0 100px;
      &:last-of-type {
        border-right: none;
      }
    }

    a.expandIcon {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 0;

      text-align: center;
      color: white;
      font-size: 24px;

      transform: rotate(0deg);
      transition: transform 0.5s ease 0.5s;

      &:link, &:visited, &:active {
        outline: none;
      }
    }

    &.open {
      height: 300px;
      background-color: rgba(33, 33, 33, 0.96);

      > div {
        transform: translateY(0px);
      }

      a.expandIcon {
        transform: rotate(180deg);
      }
    }
  }

  .logo {
    display: inline-block;
    vertical-align: top;

    img {
      width: 100px;
    }
  }

}

.matchCard {

  &.joined {
    border: solid 4px #ef8229;
  }

  &.noRoleMatch {
    opacity: 0.5;
  }

  display: inline-block;
  border: 1px black solid;
  transition: width 0.5s ease, height 0.5s ease;
  height: 300px;
  width: 200px;
  margin: 20px;
  overflow: hidden;
  background: #F3F3F3;
  vertical-align: middle;

  .matchCardTitle {
    background-color: #69A786;
    color: #FFFFFF;
    font-weight: bold;
    padding: 20px 15px;
    margin-bottom: 10px;

    h2 {
      margin: 0 0px 10px 0;
    }
  }
  .matchRole {
    text-align: center;
  }

  button {
    background-color: #ef8229;
    border: medium none;
    height: 35px;
    width: 49%;

    &.joinButton {
      margin-left: 3px;
    }
  }

  h3 {
    text-align: center;
    width: 100%;
  }

  p {
    text-align: center;
  }

}

.missionCard {

}

.isActive {
  transform: rotate(360deg);
  width: 550px;
  height: 500px;
}

.carousel {
  white-space: nowrap;
  position: relative;
  margin-left: 0px;
  transition: transform 1s ease;
}

.viewport {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
  height: 600px;
  -moz-user-select: none;
}

.leftArrow, .rightArrow {
  position: absolute;
  width: 70px;
  height: 70px;
  line-height: 70px;

  top: 50%;
  margin-top: -35px;
  z-index: 1;
  cursor: pointer;

  background-color: rgba(200, 200, 200, 0.9);
  text-align: center;
  font-size: 36px;
  border: 1px solid #FFF;
  border-radius: 50%;

  span.glyphicon {
    top: 0;
    line-height: inherit;
  }
}

.leftArrow {
  left: 20px;

  span.glyphicon {
    margin-left: -5px;
  }
}

.rightArrow {
  right: 20px;
}

.matchBatch {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}

.invisible {
  display: none;
}

.matchingSkills {
  text-align: center;
}

.noSkill span {
  color: grey;
  text-decoration: line-through;
}