<div class="viewport">
    <div class="leftArrow" ng-click="moveLeft();"></div>
    <div class="rightArrow" ng-click="moveRight();"></div>
    <div class="carousel" style="transform:translateX({{left}}px);">
        <div ng-repeat="match in matches" ng-click="showMission(match.mission)" class="missionCard" ng-class="{isActive: match.mission.isActive}">
            <div class="missionCardTitle">
                <h2>{{match.mission.shortName}}</h2><span>{{match.mission.companyName}}</span>
            </div>
            <div>
                <div class="missionRole">{{match.mission.role}}</div>
                <img class="matchBatch" src="img/match_{{match.score.skillScore}}.png" />
            </div>
            <div>
                <div class="missionDetails">
                    <h3>Projektbeschreibung</h3>
                    <p>{{match.mission.description}}</p>
                     <p>Matching Skills: <span ng-repeat="(skill, show) in match.score.skillMatches">{{skill}}{{$last ? '' : '  '}}</span></p>
                    <br />
                    <hr />
                    <button class="joinButton" ng-click="join(match.mission, 0)">Join</button>
                    <button class="zoinButton" ng-click="join(match.mission, 1)">1 Zoin</button>
                </div>
            </div>
        </div>
        <div style="height:500px;"></div>
    </div>
</div>