<div class="container-fluid header">
    <div class="col-sm-8 avatar">
        <img src="{{hero.picturePath}}" />
        <div class="avatar-text">
            <h2>{{hero.firstName}} {{hero.lastName}}</h2>
            <h3>{{hero.role}}</h3>
        </div>
    </div>

    <div class="col-sm-4 hidden-xs logo">
        <img class="pull-right" src="img/logo.png" />
    </div>
</div>
<div class="container-fluid subHeader">
    <div class="col-sm-6">
        
    </div>
    <div class="col-sm-6">

    </div>
    <a class="expandIcon">

    </a>
</div>