<div class="container-fluid header">
    <div class="col-sm-8 avatar">
        <img src="{{hero.picturePath}}" />
        <div class="avatar-text">
            <h2>{{hero.firstName}} {{hero.lastName}}</h2>
            <h3>{{hero.role}}</h3>
        </div>
    </div>

    <div class="col-sm-4 hidden-xs logo">
        <img class="pull-right" src="img/logo.png" />
    </div>
    <div class="row avatarDetails">
        <div class="col-sm-6">
            Skills:<br />
            <ul>
                <li ng-repeat="skill in hero.skillSet.skills">
                    {{skill}}
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            Ziel:<br />
             <ul>
                <li>
                    {{hero.educationSkill}}
                </li>
            </ul>
            <div class="avatarMedals">
            <span ng-repeat="medal in hero.medals"><img src={{medal.imagePath}} alt={{medal.comment}} title={{medal.comment}} /></span> 
            </div>
        </div>
    </div>
    <a href="#" class="expandIcon">&nbsp;</a>
</div>